body,
::before,
::after {
    background-color:white;
    font-family: 'Roboto', 'Roboto Slab', serif, sans-serif;
    box-sizing: border-box;
    margin:0;
}

.dark-background {
    background-color: #1F2937;
    color:white;
}

.blue-background {
    background-color: #3882F6;
    color:white;
}

.grey-background{
    background-color: #E5E7EB;
    color: #1F2937;
}
.hero-text h1 {
    font-size:48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.hero-text p{
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 200;
}

.links a{
    text-decoration:none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    font-size:18px;
    font-weight: 200;
}

.logo {
    font-size:24px;
    color: #F9FAF8;
    font-weight: bold;
}

.info-header {
    font-size:36px;
    font-weight:bolder;
    color: #1F2937;
}

.quote{
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    color:#1F2937;
}

.quote-text .author{
    font-size: 20px;
    font-weight: 600;
}

p {
    margin: 0;
}

/* Layout */
body{
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

ul {
    display:flex;
    gap: 36px;
}

.logo,
.links {
    flex-shrink:0;
}

.hero-section {
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 100px 200px;
    gap: 36px;
    flex-wrap: wrap;
}

.hero-section img {
    height:380px;
    width:auto;
    flex: 0 1 auto;
}

.hero-section .left {
    display:flex;
    flex-direction: column;
    gap: 15px;
    flex:1 0 219px;
}

.hero-text h1,
.hero-text p{
    margin:0;
}

button {
    font-size:18px;
    padding: 0.5em 1em;
    border:0px;
    width:140px;
    height:40px;
    border-radius: 10px;
}

button.sign-up {
    border:2px solid white;
}



.info-section {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

.card-container {
    font-size: 18px;
    font-weight: 200;
    
    display:flex;
    justify-content: center;
    gap:35px;
    flex-wrap: wrap;
    padding-bottom: 120px;

}

.card {
    width:250px;
}

.info-header {
    margin: 40px 0;
}

.card img {
    width: 250px;
    border-radius: 25px;
    border:3px solid #3882F6;
}

.quote-section {
    padding: 100px 0;
}

.quote-text {
    width: 70%;
    margin: 0 auto;
}

.quote-text .author {
    text-align: right;
    margin-top:1em;
}